<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-1 pagination-button">
                <a ng-click="$ctrl.close()">Close</a>
            </div>
            <div class="col-xs-10">
              <div class="row">
                  <div class="col-xs-12">

                          <div class="thumbnail text-center">
                              <h3>{{$ctrl.articles.title}}</h3>
                              <hr/>
                              <p>{{$ctrl.articles.content | limitTo:200}}</p>
                              <a>Learn More
                                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                              </a>
                          </div>

                  </div>
              </div>
            </div>
            <div class="col-xs-1 pagination-button">
                <a ng-click="$ctrl.edit()">Edit</a>
                <a ng-click="$ctrl.delete()">Delete</a>
            </div>
        </div>
    </div>
</section>
