<!-- User Page -->
<section>
    <div class="container">
        <div class="row">
            <h3>Users List</h3>
            <!-- <div class="thumbnail" ng-repeat="user in $ctrl.users | limitTo : 1 : $ctrl.userView track by $index"> -->
            <div class="thumbnail">
                <p><a ui-sref="app.users">Close</a></p>
                <h4 ng-if="!$ctrl.editMode">Name :
                    {{$ctrl.user.name}}</h4>
                <h4 ng-if="$ctrl.editMode">Name :
                    <input type="text" name="name" ng-model="$ctrl.user.name"></input>
                </h4>
                <hr/>
                <h5 ng-if="!$ctrl.editMode">Email :
                    {{$ctrl.user.email}}</h5>
                <h5 ng-if="$ctrl.editMode">Email :
                    <input type="text" name="email" ng-model="$ctrl.user.email"></input>
                </h5>
                <p>{{$ctrl.user.isAdmin == true ? 'Admin' : 'User'}}</p>
                <a ng-click="$ctrl.edit($ctrl.user, $index)">{{($ctrl.editMode ? 'Save' : 'Edit')}}</a>
                <a ng-if="$ctrl.editMode" ng-click="$ctrl.cancel($ctrl.user, $index)">Cancel</a>
                <p>
                    <a ng-click="$ctrl.delete($ctrl.user, $index)" ui-sref="app.users">Delete</a>
                </p>
            </div>
            <div class="thumbnail" ng-repeat="article in $ctrl.user.articles">
              <h4>{{article.title}}</h4>
              <label>{{article.category}}</label>
              <hr>
              {{article.content}}
            </div>
        </div>
    </div>
</section>
