<!-- Card + EditMode -->
<!-- <section ng-if="$ctrl.selectedArticle"> -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-1 pagination-button">
                <a ng-click="$ctrl.prev()">prev</a>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail" ng-repeat="article in $ctrl.articles | limitTo : 1 : $ctrl.articleView track by $index">
                            <a ui-sref="app.articles" ng-if="!$ctrl.editMode">Close</a>
                            <h3 ng-if="$ctrl.editMode">Title</h3>
                            <h3>
                                <span ng-if="!$ctrl.editMode">{{article.title}}</span>
                                <textarea ng-if="$ctrl.editMode" type="text" name="title" ng-model="article.title"></textarea>
                            </h3>
                            <p>
                                <span>{{article.PublishedAt | date }}</span>
                            </p>
                            <div class="col-sm-6">
                              <p ng-if="!$ctrl.editMode">Category : {{article.category || 'Undefined'}}</p>
                              <p ng-if="$ctrl.editMode">
                                  <span>Category : </span>
                                  <select class="" name="" ng-model="article.category">
                                      <option>Category 1</option>
                                      <option>Category 2</option>
                                      <option>Category 3</option>
                                      <option>Category 4</option>
                                  </select>
                              </p>
                            </div>
                            <div class="col-sm-6">
                              <p ng-if="!$ctrl.editMode">Author : {{article.author || 'Undefined'}}</p>
                              <p ng-if="$ctrl.editMode">
                                  <span>Author : </span>
                                  <select ng-model="article.author">
                                      <option ng-repeat="user in $ctrl.users">{{user.name}}</option>
                                  </select>
                              </p>
                            </div>
                            <hr/>
                            <p ng-if="$ctrl.editMode">Content</p>
                            <p>
                                <span ng-if="!$ctrl.editMode">{{article.content}}</span>
                                <textarea rows="4" cols="50" ng-if="$ctrl.editMode" type="text" name="title" ng-model="article.content"></textarea>
                            </p>
                            <p>
                                <a ng-click="$ctrl.edit(article)">{{($ctrl.editMode ? 'Save' : 'Edit')}}</a>
                                <a ng-if="$ctrl.editMode" ng-click="$ctrl.cancel(article)">Cancel</a>
                            </p>
                            <p>
                                <a ng-click="$ctrl.delete(article)" ui-sref="app.articles">Delete</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-1 pagination-button">
                <a ng-click="$ctrl.next()">next</a>
            </div>
        </div>
    </div>
</section>
