<!-- Card + EditMode -->
<!-- <section ng-if="$ctrl.selectedArticle"> -->
<section>
    <div class="container">
        <div class="row">
            <div class="thumbnail" ng-repeat="selectedArticle in $ctrl.articles | limitTo : 1 : $ctrl.selectedArticleView track by $index">
                <a ui-sref="app.articles" ng-if="!$ctrl.selectedArticle.editMode">Close</a>
                <h3 ng-if="$ctrl.selectedArticle.editMode">Title</h3>
                <h3>
                    <span ng-if="!$ctrl.selectedArticle.editMode">{{selectedArticle.title}}</span>
                    <textarea ng-if="$ctrl.selectedArticle.editMode" type="text" name="title" ng-model="$ctrl.selectedArticle.title"></textarea>
                </h3>
                <p>
                    <span>{{selectedArticle.PublishedAt | date }}</span>
                </p>
                <hr/>
                <p ng-if="$ctrl.selectedArticle.editMode">Content</p>
                <p>
                    <span ng-if="!$ctrl.selectedArticle.editMode">{{selectedArticle.content}}</span>
                    <textarea rows="4" cols="50" ng-if="$ctrl.selectedArticle.editMode" type="text" name="title" ng-model="$ctrl.selectedArticle.content"></textarea>
                </p>
                <p>
                    <a ng-click="$ctrl.edit($ctrl.selectedArticle, $index)">{{($ctrl.selectedArticle.editMode ? 'Save' : 'Edit')}}</a>
                    <a ng-if="$ctrl.selectedArticle.editMode" ng-click="$ctrl.cancel($ctrl.selectedArticle)">Cancel</a>
                </p>
                <p>
                    <a ng-click="$ctrl.delete($ctrl.selectedArticle)">Delete</a>
                </p>
            </div>
        </div>
    </div>
</section>
